@model WebApplication5.Models.Departamento
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<h2>
    Agregar Nuevo Departamento
</h2>
<hr />


Emp Nivel: @Html.DropDownList("Nivel", null, htmlAttributes: new { @class = "form-control" })
<br />
Emp Descripcion: @Html.EditorFor(model => model.Descripcion)

<p>
    <input type="button" class="btn btn-primary" value="Guardar" onclick="Guardardep()" />
</p>

<script type="text/javascript">
    function Guardardep() {

        var Nivel = $("#Nivel").val();
        var Descripcion = $("#Descripcion").val();

        var InsertarDep = { "Nivel": Nivel, "Descripcion": Descripcion }

        $.post('/Departamento/Create', InsertarDep,
            function (data) { if (data == 0) { location.href; } }, 'json');
        alert("Los datos se Insertarion !");
    }
</script>