@model WebApplication5.Models.Departamento
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<h2>
    editar
</h2>
<hr />

@Html.HiddenFor(model => model.Codigo)
Nivel @Html.DropDownList("Nivel", null, htmlAttributes: new { @class = "form-control" })
Descripcion @Html.TextBoxFor(model => model.Descripcion)


<hr />
<di>
    <input type="button" value="Actualizar" onclick="EditDep()" />
</di>

<script type="text/javascript">
    function EditDep() {

        var Codigo = $("#Codigo").val();
        var Nivel = $("#Nivel").val();
        var Descripcion = $("#Descripcion").val();

        var detadepa = { "Codigo": Codigo, "Nivel": Nivel, "Descripcion": Descripcion }
        $.post('/Departamento/Edit', detadepa, function (data) { if (data == 0) { location: location.href; } }, 'json');
        alert("Los datos Fueron Editados" + Codigo)

    }


</script>