@model IEnumerable<WebApplication5.Models.Departamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departamentos</h2>

<p>
   <input type="button"value="Nuevo Departamento" onclick="createpopup()" />
</p>

@{ 
    WebGrid wbgrid = new WebGrid(source: Model);
    @wbgrid.GetHtml(
        tableStyle:"table",
        columns: new []
        {
            wbgrid.Column("Codigo","Codigo"),
            wbgrid.Column("Nivel","Nivel"),
            wbgrid.Column("Descripcion","Descripcion"),
            wbgrid.Column(header:"Editar", format:@<text>@Html.Raw("<input type='button' value=Editar onclick='Editarde("+item.Codigo+")'" )</text>),
            wbgrid.Column(header:"Eliminar", format:@<text>@Html.ActionLink("X","Borrar",new{Codigo = item.Codigo },new{onclick="return confirm('seguro de que desea eliminar el departamento con Id-"+item.Codigo+"');" } )</text>)
            


        }
    )
    


}

<div id="openpopup" style="display:none"></div>

<script type="text/javascript">
    function createpopup() {
        var x = $("#openpopup");
        x.load("/Departamento/Create", function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000

                },
                modal: true,
                width: 450,
                heigth: 500,
                tittle: "Adregar Departamento",
                resizable: false

            });

        });

    }
</script>
<script type="text/javascript">
    function Editarde(Codigo) {
        var x = $("#openpopup");
        x.load("/Departamento/Edit?Codigo=" + Codigo, function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000

                },
                modal: true,
                width: 450,
                heigth: 500,
                tittle: "Actualizar Departamento" + Codigo,
                resizable: false

            });


        });

    }

</script>