
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p class="btn btn-success">@Html.ActionLink("Nuevo Departamento", "Index", "Departamentoes")</p>
<p class="btn btn-success">@Html.ActionLink("Nuevo Puesto", "Index", "Puesto")</p>